.home-blog .hero 
  .mask
    background-size auto!important
    background-repeat repeat!important
  h1
    color #333!important
    margin-top 5rem!important
.footer-wrapper.footer > span:first-child
  display none
.vpower.txt-right
  display none